MainApp/AgentApp/Backend/src/main/resources/agents.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soap.dto/agent" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.agent.dto/soap" targetNamespace="http://www.agent.dto/soap">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.soap.dto/agent" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.soap.dto/agent">
            <xs:element name="getAgentDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="agentDetails" type="tns:agentDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAgentDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="agentDetails" type="tns:agentDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="agentDetails">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="address" type="xs:string"/>
                    <xs:element name="phoneNumber" type="xs:string"/>
                    <xs:element name="taxIdNumber" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAgentDetailsResponse">
        <wsdl:part element="sch:getAgentDetailsResponse" name="getAgentDetailsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAgentDetailsRequest">
        <wsdl:part element="sch:getAgentDetailsRequest" name="getAgentDetailsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AgentsPort">
        <wsdl:operation name="getAgentDetails">
            <wsdl:input message="tns:getAgentDetailsRequest" name="getAgentDetailsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getAgentDetailsResponse" name="getAgentDetailsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AgentsPortSoap11" type="tns:AgentsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAgentDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="getAgentDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAgentDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AgentsPortService">
        <wsdl:port binding="tns:AgentsPortSoap11" name="AgentsPortSoap11">
            <soap:address location="http://192.168.56.1:8084/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>