MainApp/AgentApp/Backend/src/main/resources/checkIfCanComment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soap.dto/comment"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.comment.dto/soap"
                  targetNamespace="http://www.comment.dto/soap">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.soap.dto/comment" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified" targetNamespace="http://www.soap.dto/comment">
            <xs:element name="checkIfCanCommentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="rentRequestId">
                            <xs:simpleType>
                                <xs:restriction base="xs:long">
                                    <xs:minInclusive value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="rentInfoId">
                            <xs:simpleType>
                                <xs:restriction base="xs:long">
                                    <xs:minInclusive value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkIfCanCommentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="value" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="checkIfCanCommentRequest">
        <wsdl:part element="sch:checkIfCanCommentRequest" name="checkIfCanCommentRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="checkIfCanCommentResponse">
        <wsdl:part element="sch:checkIfCanCommentResponse" name="checkIfCanCommentResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CommentsPort">
        <wsdl:operation name="checkIfCanComment">
            <wsdl:input message="tns:checkIfCanCommentRequest" name="checkIfCanCommentRequest">
            </wsdl:input>
            <wsdl:output message="tns:checkIfCanCommentResponse" name="checkIfCanCommentResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CommentsPortSoap11" type="tns:CommentsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checkIfCanComment">
            <soap:operation soapAction=""/>
            <wsdl:input name="checkIfCanCommentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="checkIfCanCommentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CommentsPortService">
        <wsdl:port binding="tns:CommentsPortSoap11" name="CommentsPortSoap11">
            <soap:address location="http://192.168.56.1:8083/ws/comment"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>