MainApp/AgentApp/Backend/src/main/resources/checkPersonalInfo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soap.dto/client"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.client.dto/soap"
                  targetNamespace="http://www.client.dto/soap">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.soap.dto/client" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified" targetNamespace="http://www.soap.dto/client">
            <xs:element name="checkClientPersonalInfoRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clientEmail" type="xs:string"/>
                        <xs:element name="phoneNumber" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkClientPersonalInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dataValid">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="ALL"/>
                                    <xs:enumeration value="EMAIL_NOT_VALID"/>
                                    <xs:enumeration value="PHONE_NUMBER_NOT_VALID"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="checkClientPersonalInfoRequest">
        <wsdl:part element="sch:checkClientPersonalInfoRequest" name="checkClientPersonalInfoRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="checkClientPersonalInfoResponse">
        <wsdl:part element="sch:checkClientPersonalInfoResponse" name="checkClientPersonalInfoResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ClientsPort">
        <wsdl:operation name="checkClientPersonalInfo">
            <wsdl:input message="tns:checkClientPersonalInfoRequest" name="checkClientPersonalInfoRequest">
            </wsdl:input>
            <wsdl:output message="tns:checkClientPersonalInfoResponse" name="checkClientPersonalInfoResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClientsPortSoap11" type="tns:ClientsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checkClientPersonalInfo">
            <soap:operation soapAction=""/>
            <wsdl:input name="checkClientPersonalInfoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="checkClientPersonalInfoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClientsPortService">
        <wsdl:port binding="tns:ClientsPortSoap11" name="ClientsPortSoap11">
            <soap:address location="http://192.168.56.1:8084/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>