MainApp/AgentApp/Backend/src/main/resources/deleteClient.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soap.dto/client"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.client.dto/soap"
                  targetNamespace="http://www.client.dto/soap">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.soap.dto/client" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified" targetNamespace="http://www.soap.dto/client">
            <xs:element name="deleteClientDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="id">
                            <xs:simpleType>
                                <xs:restriction base="xs:long">
                                    <xs:minInclusive value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteClientDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="canDelete" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteClientDetailsRequest">
        <wsdl:part element="sch:deleteClientDetailsRequest" name="deleteClientDetailsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteClientDetailsResponse">
        <wsdl:part element="sch:deleteClientDetailsResponse" name="deleteClientDetailsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ClientsPort">
        <wsdl:operation name="deleteClientDetails">
            <wsdl:input message="tns:deleteClientDetailsRequest" name="deleteClientDetailsRequest">
            </wsdl:input>
            <wsdl:output message="tns:deleteClientDetailsResponse" name="deleteClientDetailsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClientsPortSoap11" type="tns:ClientsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="deleteClientDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteClientDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteClientDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClientsPortService">
        <wsdl:port binding="tns:ClientsPortSoap11" name="ClientsPortSoap11">
            <soap:address location="http://192.168.56.1:8084/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>