MainApp/AgentApp/Backend/src/main/resources/deleteCar.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soap.dto/car" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.car.dto/soap" targetNamespace="http://www.car.dto/soap">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.soap.dto/car" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.soap.dto/car">
            <xs:element name="deleteCarDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="id">
                            <xs:simpleType>
                                <xs:restriction base="xs:long">
                                    <xs:minInclusive value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteCarDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="canDelete" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteCarDetailsResponse">
        <wsdl:part element="sch:deleteCarDetailsResponse" name="deleteCarDetailsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteCarDetailsRequest">
        <wsdl:part element="sch:deleteCarDetailsRequest" name="deleteCarDetailsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CarsPort">
        <wsdl:operation name="deleteCarDetails">
            <wsdl:input message="tns:deleteCarDetailsRequest" name="deleteCarDetailsRequest">
            </wsdl:input>
            <wsdl:output message="tns:deleteCarDetailsResponse" name="deleteCarDetailsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CarsPortSoap11" type="tns:CarsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="deleteCarDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteCarDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteCarDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CarsPortService">
        <wsdl:port binding="tns:CarsPortSoap11" name="CarsPortSoap11">
            <soap:address location="http://192.168.56.1:8082/car/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>