MainApp/AgentApp/Backend/src/main/resources/editPartialCar.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soap.dto/car" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.car.dto/soap" targetNamespace="http://www.car.dto/soap">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.soap.dto/car" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.soap.dto/car">
            <xs:element name="editPartialCarDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="editPartialCarDetails" type="tns:editPartialCarDetails"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="pictureInfo" type="tns:pictureInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editPartialCarDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="editPartialCarDetails" type="tns:editPartialCarDetails"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="pictureInfo" type="tns:pictureInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="editPartialCarDetails">
                <xs:sequence>
                    <xs:element name="id">
                        <xs:simpleType>
                            <xs:restriction base="xs:long">
                                <xs:minInclusive value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="mileageInKm">
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:minInclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="kidsSeats">
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:minInclusive value="0"/>
                                <xs:maxInclusive value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="availableTracking" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
<!--            <xs:complexType name="pictureInfo">-->
<!--                <xs:sequence>-->
<!--                    <xs:element name="fileName" type="xs:string"/>-->
<!--                    <xs:element name="multiPartFile" type="xs:base64Binary"/>-->
<!--                </xs:sequence>-->
<!--            </xs:complexType>-->
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="editPartialCarDetailsResponse">
        <wsdl:part element="sch:editPartialCarDetailsResponse" name="editPartialCarDetailsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="editPartialCarDetailsRequest">
        <wsdl:part element="sch:editPartialCarDetailsRequest" name="editPartialCarDetailsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CarsPort">
        <wsdl:operation name="editPartialCarDetails">
            <wsdl:input message="tns:editPartialCarDetailsRequest" name="editPartialCarDetailsRequest">
            </wsdl:input>
            <wsdl:output message="tns:editPartialCarDetailsResponse" name="editPartialCarDetailsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CarsPortSoap11" type="tns:CarsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="editPartialCarDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="editPartialCarDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="editPartialCarDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CarsPortService">
        <wsdl:port binding="tns:CarsPortSoap11" name="CarsPortSoap11">
            <soap:address location="http://192.168.56.1:8082/car/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>