MainApp/AgentApp/Backend/src/main/resources/getAdvertisementEditType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soap.dto/advertisement"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.advertisement.dto/soap"
                  targetNamespace="http://www.advertisement.dto/soap">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.soap.dto/advertisement" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified" targetNamespace="http://www.soap.dto/advertisement">
            <xs:element name="getAdvertisementEditTypeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="id">
                            <xs:simpleType>
                                <xs:restriction base="xs:long">
                                    <xs:minInclusive value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvertisementEditTypeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="editType">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="ALL"/>
                                    <xs:enumeration value="PARTIAL"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAdvertisementEditTypeResponse">
        <wsdl:part element="sch:getAdvertisementEditTypeResponse" name="getAdvertisementEditTypeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAdvertisementEditTypeRequest">
        <wsdl:part element="sch:getAdvertisementEditTypeRequest" name="getAdvertisementEditTypeRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AdvertisementsPort">
        <wsdl:operation name="getAdvertisementEditType">
            <wsdl:input message="tns:getAdvertisementEditTypeRequest" name="getAdvertisementEditTypeRequest">
            </wsdl:input>
            <wsdl:output message="tns:getAdvertisementEditTypeResponse" name="getAdvertisementEditTypeResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdvertisementsPortSoap11" type="tns:AdvertisementsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAdvertisementEditType">
            <soap:operation soapAction=""/>
            <wsdl:input name="getAdvertisementEditTypeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdvertisementEditTypeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AdvertisementsPortService">
        <wsdl:port binding="tns:AdvertisementsPortSoap11" name="AdvertisementsPortSoap11">
            <soap:address location="http://192.168.56.1:8081/ws/advertisement"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>