MainApp/AgentApp/Backend/src/main/resources/listClient.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soap.dto/client"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.client.dto/soap"
                  targetNamespace="http://www.client.dto/soap">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.soap.dto/client" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified" targetNamespace="http://www.soap.dto/client">
            <xs:element name="getAllClientDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllClientDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="clientDetails" type="tns:clientDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--            <xs:complexType name="clientDetails">-->
            <!--                <xs:sequence>-->
            <!--                    <xs:element minOccurs="0" name="id">-->
            <!--                        <xs:simpleType>-->
            <!--                            <xs:restriction base="xs:long">-->
            <!--                                <xs:minInclusive value="1"/>-->
            <!--                            </xs:restriction>-->
            <!--                        </xs:simpleType>-->
            <!--                    </xs:element>-->
            <!--                    <xs:element name="name" type="xs:string"/>-->
            <!--                    <xs:element name="email" type="xs:string"/>-->
            <!--                    <xs:element minOccurs="0" name="password" type="xs:string"/>-->
            <!--                    <xs:element name="address" type="xs:string"/>-->
            <!--                    <xs:element name="phoneNumber" type="xs:string"/>-->
            <!--                    <xs:element minOccurs="0" name="status" type="xs:string"/>-->
            <!--                </xs:sequence>-->
            <!--            </xs:complexType>-->
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAllClientDetailsResponse">
        <wsdl:part element="sch:getAllClientDetailsResponse" name="getAllClientDetailsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllClientDetailsRequest">
        <wsdl:part element="sch:getAllClientDetailsRequest" name="getAllClientDetailsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ClientsPort">
        <wsdl:operation name="getAllClientDetails">
            <wsdl:input message="tns:getAllClientDetailsRequest" name="getAllClientDetailsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getAllClientDetailsResponse" name="getAllClientDetailsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClientsPortSoap11" type="tns:ClientsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAllClientDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="getAllClientDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllClientDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClientsPortService">
        <wsdl:port binding="tns:ClientsPortSoap11" name="ClientsPortSoap11">
            <soap:address location="http://192.168.56.1:8084/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>