MainApp/AgentApp/Backend/src/main/resources/priceLists.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soap.dto/pricelist"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.pricelist.dto/soap"
                  targetNamespace="http://www.pricelist.dto/soap">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.soap.dto/pricelist" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified" targetNamespace="http://www.soap.dto/pricelist">
            <xs:element name="getPriceListDetailsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="priceListDetails" type="tns:priceListDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPriceListDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="priceListDetails" type="tns:priceListDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
          172.21.0.10
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPriceListDetailsResponse">
        <wsdl:part element="sch:getPriceListDetailsResponse" name="getPriceListDetailsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPriceListDetailsRequest">
        <wsdl:part element="sch:getPriceListDetailsRequest" name="getPriceListDetailsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PriceListsPort">
        <wsdl:operation name="getPriceListDetails">
            <wsdl:input message="tns:getPriceListDetailsRequest" name="getPriceListDetailsRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPriceListDetailsResponse" name="getPriceListDetailsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PriceListsPortSoap11" type="tns:PriceListsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPriceListDetails">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPriceListDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPriceListDetailsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PriceListsPortService">
        <wsdl:port binding="tns:PriceListsPortSoap11" name="PriceListsPortSoap11">
            <soap:address location="http://172.21.0.10:8081/ws/pricelist"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>